# Created by Gemini - Recommended for iOS App Development (Swift, CocoaPods, Carthage, SPM)

## macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*~

# =========================
# Tuist
# =========================
# Xcode project files
*.xcodeproj
*.xcworkspace
*.xcworkspacedata

# (기존 .gitignore 내용 중 유지할 것들)
# User settings
xcuserdata/

# Build results
DerivedData/
build/
.build/

# Other
.DS_Store